---
import { render, getCollection } from "astro:content"
import Layout from "../layouts/Layout.astro"

export async function getStaticPaths() {
  const posts = await getCollection("posts")
  return posts.map((post) => ({
    params: { id: post.id },
    props: { post },
  }))
}

const { post } = Astro.props
const { Content } = await render(post)
---

<Layout>
  <div class="flex">
    <div class="text-3xl font-bold text-blue-100 drop-shadow-md">
      {post.data.title}
    </div>
    <div class="flex-1 text-right text-sm">
      {post.data.source && <a href={post.data.source}>Source Code</a>}
      <div>{post.data.date.toLocaleDateString()}</div>
    </div>
  </div>
  <Content />
</Layout>
