---
import { render, getCollection } from "astro:content"
import Layout from "../layouts/Layout.astro"

export async function getStaticPaths() {
  const posts = await getCollection("posts")
  return posts.map((post) => ({
    params: { id: post.id },
    props: { post },
  }))
}

const { post } = Astro.props
const { Content } = await render(post)
---

<Layout>
  <div class="flex">
    <h2 class="m-0">
      {post.data.title}
    </h2>
    <div class="flex-1 text-right text-sm">
      {
        post.data.source && (
          <a href={post.data.source} class="font-normal">
            Source Code
          </a>
        )
      }
      {post.data.date && <div>{post.data.date.toISOString().slice(0, 10)}</div>}
    </div>
  </div>
  <Content />
</Layout>
