---
import Link from "../components/Link.astro"
import Layout from "../layouts/Layout.astro"
import glslSlides from "../assets/glsl-slides.png"
import PageHeading from "../components/PageHeading.astro"
---

<Layout>
  <PageHeading>GLSL Shader Slides</PageHeading>
  <p>
    I presented at my local makerspace on shaders. I had recently discovered
    them myself, and became fascinated by how they turn code and math into art.
    But they also turn the the classic rendering paradigm that I knew of at the
    time on its head: instead of rendering an object into pixels, you ask a
    program what color this pixel right here is.
  </p>
  <p>
    This presentation explains the basics of how it works and each example is
    itself a live WebGL shader.
  </p>
  <p>April, 2014</p>

  <Link href="http://alexjwayne.github.io/OpenGL-Shaders-Slides/#/">
    View the slides
    <img src={glslSlides.src} alt="GLSL Shader Slides" class="my-4" />
  </Link>
</Layout>
