---
import Layout from "../layouts/Layout.astro"
import GridList from "../components/GridList.astro"
import GridListItem from "../components/GridListItem.astro"

import { getCollection } from "astro:content"

const posts = (await getCollection("posts"))
  .sort((a, b) => a.data.date.getTime() - b.data.date.getTime())
  .reverse()
---

<Layout>
  <p class="relative -top-8">
    I'm a software developer by day, <span
      class="drop-shadow-dark-glow font-semibold text-indigo-500"
      >and also by night.</span
    >
  </p>

  <GridList title="A few of the things I've made">
    {
      posts.map((post) => (
        <GridListItem href={post.id} image={post.data.cover?.src}>
          {post.data.title}
        </GridListItem>
      ))
    }
  </GridList>

  <h2>A few of my links</h2>

  <ul class="mb-12 list-disc pl-6">
    <li><a href="https://github.com/AlexJWayne">Github</a></li>
    <li><a href="http://alexwayne.rocks">Music</a></li>
  </ul>

  <h2>A few of the things I use</h2>

  <ul class="mb-12 list-disc pl-6">
    <li>
      <a href="https://www.zsa.io/voyager">ZSA Voyager</a> in <a
        href="https://configure.zsa.io/voyager/layouts/qGmLZ/latest/0"
        >Colemak DH</a
      >
    </li>
    <li>
      <a href="https://zed.dev">Zed</a> in <a href="https://zed.dev/docs/vim"
        >Vim mode</a
      >
    </li>
  </ul>
</Layout>
