---
import Layout from "../layouts/Layout.astro"
import Link from "../components/Link.astro"
import GridList from "../components/GridList.astro"
import GridListItem from "../components/GridListItem.astro"

import glslSlidesImage from "../assets/glsl-slides.png"
import spirographImage from "../assets/spirograph.png"
import mandalatronImage from "../assets/mandalatron.png"
---

<Layout>
  <p>I'm a software developer by day, and also by night.</p>

  <GridList title="A few of the things I've made">
    <GridListItem href="/spirograph" image={spirographImage.src}
      >Spirograph</GridListItem
    >
    <GridListItem href="/glsl-slides" image={glslSlidesImage.src}
      >GLSL Slides</GridListItem
    >
    <GridListItem href="/mandalatron" image={mandalatronImage.src}
      >Mandalatron</GridListItem
    >
  </GridList>

  <GridList title="Links">
    <GridListItem href="https://github.com/AlexJWayne">Github</GridListItem>
    <GridListItem href="http://alexwayne.rocks">Music</GridListItem>
  </GridList>

  <h2 class="text-xl font-bold">A few of the things I use</h2>

  <ul class="mb-12 list-disc pl-6">
    <li>
      <Link href="https://www.zsa.io/voyager">ZSA Voyager</Link> in <Link
        href="https://configure.zsa.io/voyager/layouts/qGmLZ/latest/0"
        >Colemak DH</Link
      >
    </li>
    <li>
      <Link href="https://zed.dev">Zed</Link> in <Link
        href="https://zed.dev/docs/vim">Vim mode</Link
      >
    </li>
  </ul>
</Layout>
