---
import PageHeading from "../components/PageHeading.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout>
  <PageHeading>Mandalatron</PageHeading>
  <p>A canvas dancing visualization experiment.</p>
  <p>2011</p>
  <iframe
    src="https://alexjwayne.github.io/MandalaTron/?fullscreen=1"
    width="800"
    height="600"></iframe>
</Layout>
