---
import Layout from "../layouts/Layout.astro"
---

<Layout>
  <h2 class="text-xl font-bold">Mandalatron</h2>
  <p>A canvas dancing visualization experiment.</p>
  <p>2011</p>
  <iframe
    src="https://alexjwayne.github.io/MandalaTron/?fullscreen=1"
    width="800"
    height="600"></iframe>
</Layout>
