---
import Page from "../components/Page.astro"
---

<Page title="Mandalatron">
  <p>A canvas dancing visualization experiment.</p>
  <p>2011</p>
  <iframe
    src="https://alexjwayne.github.io/MandalaTron/?fullscreen=1"
    width="800"
    height="600"></iframe>
</Page>
