---
import Link from "../components/Link.astro"
import Page from "../components/Page.astro"
---

<Page title="Spirograph">
  <p>
    A learning experiment with <Link href="https://odin-lang.org/">Odin</Link> and
    <Link href="https://www.raylib.com/">RayLib</Link> to create a spirograph. <Link
      href="https://github.com/karl-zylinski/odin-raylib-web">Compiled</Link
    > to <Link href="https://webassembly.org/">WebAssembly</Link> to run in the browser
    with <Link href="https://github.com/karl-zylinski/odin-raylib-web"
      ><code>odin-raylib-web</code></Link
    >.
  </p>

  <p>
    Github: <Link href="https://github.com/AlexJWayne/spiroray"
      >AlexJWayne/spiroray</Link
    >
  </p>

  <iframe
    src="https://alexjwayne.github.io/spiroray/build/web/"
    width="800"
    height="800"></iframe>
</Page>
