---
interface Props {
  href: string
  image?: string
}

const { href, image } = Astro.props
---

<li class="m-0">
  <a
    href={href}
    class="block h-full w-full scale-100 leading-5 no-underline transition-all hover:text-violet-400"
  >
    <slot />
    <div
      class="h-28 rounded-lg bg-black/50 bg-cover bg-center px-2"
      style={image ? { backgroundImage: `url(${image})` } : {}}
    >
    </div>
  </a>
</li>
