---
interface Props {
  href: string
  image?: string
}

const { href, image } = Astro.props
---

<li
  class="m-0 h-40 scale-100 rounded-lg bg-black/10 bg-cover bg-center p-0 transition-transform hover:scale-105"
  style={image ? { backgroundImage: `url(${image})` } : {}}
>
  <a href={href} class="block h-full w-full no-underline">
    <div class="bg-blue-950/35 px-2"><slot /></div>
  </a>
</li>
