<!doctype html>
<html lang="en">
  <head class="m-0 h-screen w-screen">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>AlexWayne.codes</title>
  </head>

  <body
    class="m-0 h-screen w-screen bg-gradient-to-b from-blue-900 to-sky-950 to-[600px] py-10 text-gray-300"
  >
    <div class="m-auto w-[800px]">
      <h1
        class="mb-10 bg-gradient-to-r from-red-400 to-indigo-800 bg-clip-text text-4xl font-extrabold text-transparent drop-shadow-md"
      >
        AlexWayne.codes
      </h1>
      <slot />
    </div>
  </body>
</html>
