<!doctype html>
<html lang="en">
  <head class="m-0 h-screen w-screen">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>AlexWayne.codes</title>
  </head>

  <body
    class="m-0 h-screen w-screen bg-gradient-to-b from-blue-900 to-sky-950 to-[900px] py-10"
  >
    <div class="m-auto w-[800px]">
      <a href="/alexwayne-codes"
        ><h1
          class="mb-10 text-5xl font-extrabold text-transparent decoration-orange-400 drop-shadow-md transition hover:translate-x-4"
        >
          <span
            class="bg-gradient-to-tr from-red-400 to-yellow-500 bg-clip-text"
            >AlexWayne</span
          ><span
            class="bg-gradient-to-br from-yellow-500 to-red-500 bg-clip-text"
            >&lt;Codes&gt;</span
          >
        </h1></a
      >
      <div class="prose prose-invert prose-2xl">
        <slot />
      </div>
    </div>
  </body>
</html>
